vrrp_instance VI_1 {
    state {{ keepalived_state | default('BACKUP') }}
    interface {{ ansible_default_ipv4.interface }}
    virtual_router_id {{ keepalived_router_id }}
    priority {{ keepalived_priority }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }
    virtual_ipaddress {
        {{ keepalived_vip }}
    }
}